.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}

@media (max-width: 720px) {
  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
