.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  color: var(--palette-ibmgrey-90);
}

h2 {
  color: var(--palette-ibmgrey-90);
}

h3 {
  color: var(--palette-ibmgrey-90);
}

h4 {
  color: var(--palette-ibmgrey-90);
}

@media (max-width: 600px) {
  h1 {
    font: var(--font-h2) !important;
  }

  h2 {
    font: var(--font-h3) !important;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
